@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clothing Store</h1>
</div>

@*<script>
    $(document).ready(function () {
        Swal.fire("Good job!", "You clicked the button!", "success");
    });
</script>*@